* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    text-align: center;
}

.menu a {
    display: none;
}

.nav, footer {
    background-color: darkgray;
    padding: 1% 0;
}

.nav {
    position: fixed;    
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    text-align: right;
}



section {
    margin-top: 5px;
}

header {
    padding: 100px 0;
}

.navin {
    border-radius: 50%;
    margin-top: 30px;
    width: 175px;
    height: 175px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 25px;
}

#bio-section {
    margin-top: 10px;

}


.opening-page {
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.questions-page {
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.big-ben-feedback {
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#portfolio-section {
    margin: 250px 0 30px 0;
}

footer {
    margin-top: 70px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

ul > li {
    font-size: 15px;
    text-align:start;
}

#portfolio-section > h2 {
    font-size: 40px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer > span {
    font-size: 10px;
    margin: 0 15px;
    color: navy;
}

@media screen and (min-width: 768px) {

    .nav,
    footer {
        padding: 1% 0;
    }

    .headline {
        margin-top: 30px;
    }

    .headline > h1 {
        font-size: 20px;
    }

    .headline > h2 {
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
    }

    .navin {
        width: 225px;
        height: 225px;
    }

    #portfolio-section > h2 {
        font-size: 80px;
    }

    .opening-page {
        width: 475px;
        height: 350px;
    }
    
    .questions-page {
        width: 475px;
        height: 350px;
    }
    
    .big-ben-feedback {
        width: 475px;
        height: 350px;
    }

    footer > span {
        font-size: 18px;
        margin: 0 15px;
        color: navy;
    }
}

@media screen and (min-width: 1024px) {

    .nav,
    footer {
        padding: 1% 0;
    }
    .headline > h1 {
        font-size: 40px;
    }

    #bio-section > p {
        font-size: 30px;
    }

    #portfolio-section > h2 {
        font-size: 100px;
    }

    .opening-page {
        width: 750px;
        height: 500px;
    }
    
    .questions-page {
        width: 750px;
        height: 500px;
    }
    
    .big-ben-feedback {
        width: 750px;
        height: 500px;
    }

    ul > li {
        font-size: 25px;
        text-align:start;
    }

    #toggle,
    label {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .menu a {
        display: block;
        text-decoration: none;
        margin: 0 10px;
        color: maroon;
    }
    
   
    footer > span {
        font-size: 18px;
        margin: 0 25px;
        color: navy;
    }
}